@font-face {
    font-family: Acorn Initials;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/AcornInitials.ttf");
}

@font-face {
    font-family: Anglican Text;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/AnglicanText.ttf");
}

@font-face {
    font-family: Barock Caps;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/BarockCaps.ttf");
}

@font-face {
    font-family: Blackwood Castle;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/BlackwoodCastle.ttf");
}

@font-face {
    font-family: Blackwood Castle Shadow;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/BlackwoodCastleShadow.ttf");
}

@font-face {
    font-family: DS Zierschrift;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/DSZierschrift.ttf");
}

@font-face {
    font-family: Franktur Schmuck;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/Frakturschmuck.ttf");
}

@font-face {
    font-family: Horror Dingbats;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/HorrorDingbats.ttf");
}

@font-face {
    font-family: Kaiserzeit Gotisch;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/KaiserzeitGotisch.ttf");
}

@font-face {
    font-family: Medici Text;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/MediciText.ttf");
}

@font-face {
    font-family: Monats Vignetten;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/MonatsVignetten1.ttf");
}

@font-face {
    font-family: Schluss Vignetten;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/SchlussVignetten.ttf");
}

@font-face {
    font-family: Schwabacher;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/Schwabacher.ttf");
}

@font-face {
    font-family: Celtic Frames;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/CelticFrames.ttf");
}

@font-face {
    font-family: Typographer Woodcut;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/TypographerWoodcut.ttf");
}

@font-face {
    font-family: Flowers Initials;
    font-style: normal;
    src: url("./../../../assets/fonts/Mediengestaltung/FlowersInitials.ttf");
}